#image {
  width: 100%;
  height: 100%;

  align-items: center;
}

#greet {
  text-align: center;
  align-items: center;

  font-size: 3rem;

  background-image: url("../../public/index-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;

  height: 50vh;

  border-radius: 1.25rem;
  border: solid 0.1rem var(--common-outline);
}